.logo {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: rgba(var(--theme-color));
  font-size: var(--font-size--large);
  font-family: var(--font-family--block);

  &:before {
    content: "Kieran";
  }

  &:after {
    content: "Noble";
    opacity: 0.3;
    transition: opacity .3s ease-in-out;
  }
  
  &:hover:after {
    opacity: 0.7;
  }

  &--default {
    color: black;
  }
}