.partsAndSections {
    --theme-color: 26, 66, 49;
    --theme-background: url("/assets/projects/partsandsections/card.webp");
    --theme-logo: url("/assets/projects/partsandsections/logo.svg");
    --theme-tagline: "A-Level Photography Component Two";
    --theme-category: "Photography";

    --logo-size: 240px;
}