@import "../../Mixins";


.seperator {
    width: 100%;
    margin: 30px auto;

    &--small {
        width: 50px;
        margin: 20px 0;
        @include mobileSize((
            margin: 20px auto
        ));
    }

    &--centered {
        margin: 20px auto;
    }

    &:after {
        content: '';
        display: block;
        border-bottom: 1px solid #ccc;
    }
}