@use "sass:color";
@use "../../Theme/Theme";

.slideshow {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  flex-direction: column;
  z-index: 10;
  pointer-events: auto;
  background-color: rgba(51, 51, 51, 0.85);
  --theme-color: 185, 185, 185;
  --thumbnail-height: 90px;
  --button-spacing: 12px;
  @include Theme.mobileSize((
    --thumbnail-height: 100px
  ));
  
  &__image {
    --image--spacing: 30px;
    height: calc(100% - var(--image--spacing) - var(--thumbnail-height));
    display: flex;
    flex-direction: column;
    position: relative;

    &-holder {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
        --max-image-fill: 95%;

        width: auto;
        position: absolute;
        max-width: var(--max-image-fill);
        max-height: var(--max-image-fill);
        border-radius: var(--rounded--medium);
        background: rgba(51, 51, 51, 0.25);
        box-shadow: var(--shadow--medium);
        
        @include Theme.mobileSize((
          --max-image-fill: 97%
        ));
      }
    }
    
    @include Theme.mobileSize((
        --image--spacing: 80px
    ));
  }
  
  &__thumbnail {
    opacity: 0.6;
    transition: opacity 0.1s ease-in-out;
    
    & img {
      width: auto;
      height: var(--thumbnail-height);
      cursor: pointer;
      border-radius: var(--rounded--small);
      background: rgba(51, 51, 51, 0.75);
    }

    &s {
      --spacing: 6px;
      width: calc(100% - calc(var(--spacing) * 2));
      bottom: 8px;
      display: flex;
      justify-content: center;
      margin: 0 var(--spacing) auto var(--spacing);

      @include Theme.mobileSize((
        --spacing: 10px
      ));

      &-holder {
        display: flex;
        max-width: var(--max-width);
        overflow-x: auto;
        gap: 3px;
        border-radius: var(--rounded--small);
        
        @include Theme.mobileSize((
            scrollbar-width: none
        ));
      }
    }
    
    &:hover {
      opacity: 0.8;
    }
    
    &--selected {
      opacity: 1;
    }
  }
  
  &__button {
    width: 50px;
    height: 50px;
    position: fixed;
    cursor: pointer;
    border-radius: var(--rounded--extraLarge);
    box-shadow: var(--shadow--medium);
    opacity: 0.9;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: background-color 0.1s ease-in-out;

    &--next, &--previous {
      top: 50%;
      margin-top: -25px;
      background-size: var(--action-icon-size);
    }

    &--next {
      right: var(--button-spacing);
    }

    &--previous {
      left: var(--button-spacing);
    }

    &--close {
      top: var(--button-spacing);
      right: var(--button-spacing);
    }

    &--download {
      top: var(--button-spacing);
      right: calc((var(--button-spacing)) + 50px + 8px);
    }

    &:hover {
      background-color: color.adjust(#333, $lightness: -10%);
    }
  }
  
  &--shown {
    display: flex;
  }

  &--single {
    .slideshow__image {
      height: 100%;
    }

    .slideshow__thumbnails {
      display: none;
    }
  }
}

body:has(.slideshow--shown) {
  overflow-y: hidden;
  pointer-events: none;
}