.photi {
    --theme-color: 0, 139, 139;
    --theme-background: url("@/projects/photi/card.webp");
    --theme-logo: url("@/projects/photi/logo.svg");
    --theme-tagline: "AI Driven Social Media Application";
    --theme-category: "Dissertation";
}