.photi {
  --theme-color: 0, 139, 139;
  --theme-background: url("@/assets/projects/photi/card.webp");
  --theme-logo: url("@/assets/projects/photi/logo.svg");
  --theme-tagline: "AI Driven Social Media Application";
  --theme-category: "Dissertation";
  --logo-size: 300px;
}
