@use "sass:meta";
@use "../Mixins";

.layout {
    display: flex;
    flex-direction: column;

    &__row {
        display: flex;
        gap: var(--spacing--medium);
        margin-bottom: var(--spacing--medium);
        flex-wrap: wrap;
        flex-direction: row;
        @include Mixins.mobileSize((
            flex-direction: column
        ));

        & * {
            flex-grow: 1;
            flex-shrink: 0;
        }

        &--equal {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 1fr;

            @include Mixins.mobileSize((
                display: flex,
                flex-direction: column
            ))
        }

        &--ignoreMobile {
            @include Mixins.mobileSize((
                flex-direction: row
            ));
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: var(--spacing--medium);
        
        &--double {
            flex-grow: 2;
        }
    }

    &--small {
        gap: var(--spacing--small);
    }

    &--nomargin {
        margin-bottom: 0;
    }

    &--nogap {
        gap: 0;
    }

    &--portfolio {
        max-width: var(--max-width);
        padding: 50px;
        font-family: var(--font-family--normal);
        margin: 0 auto;

        @include Mixins.mobileSize((
            padding: 24px
        ));
    }
}

@include meta.load-css("Container/Container");
@include meta.load-css("Content/Content");
@include meta.load-css("Loader/Loader");
@include meta.load-css("ScrollBar/ScrollBar");
@include meta.load-css("Section/Section");