@import "../../Mixins";

.navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    &__action {
        display: inline-block;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        color: rgba(var(--logo-color));
        font-size: var(--font-small);
        font-family: var(--font-family--block);
        opacity: 0.65;
        transition: opacity 0.25s ease;
        margin-top: auto;

        @include mobileSize((
            margin-bottom: auto
        ));

        &:hover {
            opacity: 1;
        }
    }
    
    &--default {
        --logo-color: 0, 0, 0;
    }
}