.footer {
    text-align: center;
    margin-top: 30px;
    background-color: white;
    
    &__contact {
        font-size: 16px;
        letter-spacing: 0.5px;
        margin-top: 12px;

        & a {
            text-decoration: none;
            color: #666;

            &:hover {
                color: black;
            }
        }
    
        &-note {
            font-size: 11px;
            letter-spacing: 0.5px;
            opacity: 0.5;
            font-style: italic;
            margin-bottom: 12px;
        }
    }

    &__socialLinks {
        display: flex;
        justify-content: center;
        gap: 5px;
    }

    &__version {
        font-size: var(--font-extraSmall);
        color: #ccc;
        margin-top: 8px;
        margin-bottom: 36px;
    }

    // Overrides

    & .seperator {
        margin-top: 0;
    }

    & .logo {
        font-size: var(--font-medium);
    }
}