nav {
  margin-bottom: var(--spacing--medium);
  display: flex;
  justify-content: space-between;
  
  & .action {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgba(var(--theme-color));
    font-size: var(--font-size--small);
    font-family: var(--font-family--block);
    opacity: 0.65;
    transition: opacity .25s ease, color .5s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    margin: auto;
    
    &:hover {
      opacity: 1;
    }
    
    &s {
      display: flex;
      gap: 10px;
    }
    
    &:has(header) {
      --theme-color: 0, 0, 0;
    }
  }
}