.container {
    min-height: var(--vh);
    max-height: var(--vh);
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;

    & > .layout {
        flex-grow: 1;
    }
}