:root {
    --max-width: 1200px;

    --theme-color: 0, 150, 136;

    // Sizing and Spacing

    --font-extraLarge: 42px;
    --font-large: 22px;
    --font-medium: 18px;
    --font-small: 15px;
    --font-smaller: 12px;
    --font-extraSmall: 10px;

    --portfolio-card-size: 600px;
    --portfolio-card-size--minimum: 360px;

    --spacing--extraLarge: 50px;
    --spacing--large: 30px;
    --spacing--medium: 24px;
    --spacing--small: 12px;

    --slideshow-spacing: 16px;

    --rounded--extraLarge: 30px;
    --rounded--large: 7px;
    --rounded--medium: 5px;

    --action-icon-size: 15px;

    // Colors

    --color--primary: 0, 150, 136;
    --color--success: 46, 125, 50;
    --color--danger: 220, 48, 48;
    --color--warning: 255, 193, 7;
    --color--info: 27, 131, 165;

    // Constants

    --font-family--block: "brandon_grotesqueblack";
    --font-family--normal: "Lato";
    --font-family--light: "Lato Light";
    --font-family--bold: "Lato Bold";

    --shadow--medium: 0px 0px 35px 0px rgb(0 0 0 / 30%);
    --shadow--small: 0px 0px 35px 0px rgb(0 0 0 / 18%);

    // Defaults

    --backgroundAlpha: 1;
    --textAlpha: 1;

    --image-max-width: 800px;
    --logo-size: 195px; 
}