<div class="slideshow" data-bind="css: { 'slideshow--shown': visible() }, attr: { id: id }">

    <div class="slideshow__image" data-bind="css: { 'slideshow__image--full': !showThumbnails() }">
        <img data-bind="attr:{ src: selectedImage() }" loading="lazy" decoding="async">
    </div>

    <div class="slideshow__thumbnails-holder" data-bind="if: showThumbnails">
        <div class="slideshow__thumbnails" data-bind="foreach: slideshowImages">
            <div class="slideshow__thumbnail">
                <img data-bind="attr: generateThumbnailUrl($data, $index())" width="120" height="60" loading="lazy"
                    decoding="async">
            </div>
        </div>
    </div>

    <div class="slideshow__button slideshow__button--close" data-bind="click: close"></div>
    <!-- ko if: showPrevious -->
    <div class="slideshow__button slideshow__button--previous" data-bind="click: previous"></div>
    <!-- /ko -->
    <!-- ko if: showNext -->
    <div class="slideshow__button slideshow__button--next" data-bind="click: next"></div>
    <!-- /ko -->
    <!-- ko if: showDownload -->
    <a class="slideshow__button slideshow__button--download" data-bind="attr: {href: downloadUrl}" download></a>
    <!-- /ko -->

</div>