.experimentalImagery {
  --theme-color: 111, 70, 139;
  --theme-background: url("@/assets/projects/experimentalimagery/card.webp");
  --theme-logo: url("@/assets/projects/experimentalimagery/logo.svg");
  --theme-tagline: "A-Level Photography Component One";
  --theme-category: "Photography";

  --logo-size: 240px;
}
