.pinewood {
    --theme-color: 1, 43, 93;
    --theme-background: url("@/projects/pinewood/card.webp");
    --theme-logo: url("@/projects/pinewood/logo.svg");
    --theme-tagline: "Software Development Placement";
    --theme-category: "Internship";
}