@page "{ErrorCode}"
@model ErrorModel
@{
    this.SetTitleText(Model.ErrorCode.ToString());
}

<template:error>
    <div class="error">
        <h1 class="error__title">@Model.ErrorCode</h1>
        <h2 class="error__subtitle">@Model.ErrorMessage</h2>
        <p class="error__description">Please try again later.</p>
        <a href="@Model.HomeURL" class="error__action">Go Home</a>
    </div>
</template:error>