@page "{ErrorCode}"
@model ErrorModel
@{
    ViewData["Title"] = @Model.ErrorCode.ToString();
}

<template:error>
    <h1>@Model.ErrorCode</h1>

    <h2>Whoops!</h2>
    <h3>Something went wrong :(</h3>
    <h4>Please try again later.</h4>

    <a href="@Model.HomeURL">Go Home</a>

    @if (Model.ShowRequestId)
    {
        <p>@Model.RequestId</p>
    }
</template:error>