@page
@model PhotiModel
@{
    this.SetTitleText("Photi");
    //TODOK;
    ViewData["project"] = "photi";
}

<template:default>
    <layout:section title="LOGO HERE" sub-title="AI Driven photo sharing social media image sharing platform" type="Primary" alignment="Centered">
        <h3>This project was created as part of my Final Year Project within the third year of my Computer Science degree. The title for this project was 'Increasing Artificial Intelligence Image Recognition Usage Within a Photo Sharing Application.'</h3>
    </layout:section>
    <layout:section type="Secondary" title="Problem Domain" sub-title="To be able to deliver a project, a clear set of requirements needed to be defined. The requirements for this project were created by looking at what was currently available on the market and what was missing, as well as the major problems that users stated with the existing solutions.">
        <p>The main requirements were:</p>
        <ol>
            <li>Give users a personalised feed of images based on their likes</li>
            <li>Allow users to upload images to the platform and have their images automatically tagged</li>
            <li>Allow users to search for images based on tags</li>
            <li>Allow users to search for and follow other users</li>
            <li>Allow users to like and comment on images</li>
            <li>Allow users to view and update all information regarding their account, including application settings and content preferences</li>
            <li>Be performant and scalable, allowing for a large number of users to use the application at the same time</li>
        </ol>
    </layout:section>
    <layout:section alignment="Right" title="Initial Designs" sub-title="Creating a unique yet familiar look and feel for the application was important to the success of the project. It was necessary to create a design that was easy to use and navigate, but also looked modern and clean.">
        <p>To deliver this, a custom design system was created. This design system was created using Figma and was used to create the initial designs for the application. The initial designs were then used to create a prototype of the application, without working data, but enough to give an insight into how the application would look and feel, especially useful for asking for user feedback before moving onto the technical development of the application as a whole.</p>
        <section:media slideshow="@Model.DesignsSlideshow">
            <media:image url="/img/Projects/Photi/Designs/Designs-01.webp" alt-text="TODOK" />
        </section:media>
    </layout:section>
    <layout:section type="Tertiary" alignment="Centered" title="Technology Stack" sub-title="To be able to deliver the project, a wide variety of different technologies were used. These technologies were used to deliver the project in a way that was performant, scalable and easy to maintain.">
        <p>The main technologies used to deliver this full stack application were:</p>
        <layout:row equal="true">
            <layout:column>
                <h4 class="section__subtitle">Backend</h4>
                <ul>
                    <li>Laravel</li>
                    <li>MySQL</li>
                    <li>Intervention</li>
                </ul>
            </layout:column>
            <layout:column>
                <h4 class="section__subtitle">Frontend</h4>
                <ul>
                    <li>Livewire</li>
                    <li>Vite</li>
                    <li>SCSS</li>
                </ul>
            </layout:column>
            <layout:column>
                <h4 class="section__subtitle">Other Technologies</h4>
                <ul>
                    <li>Azure Computer Vision</li>
                    <li>Azure Blob Storage</li>
                    <li>Cloudflare CDN</li>
                </ul>
            </layout:column>
        </layout:row>
    </layout:section>
    <layout:section type="Secondary" alignment="Left" title="Project Documentation" sub-title="Throughout the project, a variety of different documents were created to help with the documentation and development of the project.">
        <p>The documents were used to give an insight into each decision made throughout the project, with the reasoning given for each. This documentation aims to provide an explanation into why each technology and product was chosen, as well as how they were used to deliver the project.</p>
        <p>These documents and the main report document are available to read below.</p>
        <section:media slideshow="@Model.ReportSlideshow">
            <media:image url="/img/Projects/Photi/Report/FYP-R-C-001.webp" alt-text="TODOK" height="1035"/>
        </section:media>
    </layout:section>
    <layout:section type="Primary" alignment="Centered" title="Final Product" sub-title="The outcome of this project was a fully functional web application that allows users to upload images and have them automatically tagged with relevant tags. The application also allows users to search for images based on tags and other users.">
        <p>You can take a look at and use the prototype application below or by visiting <a href="https://photi.studio" target="_blank">photi.studio</a>.</p>
        <p>The source code for this project is available at <a href="https://github.com/ernokieran/photi.studio" target="_blank">github.com/ernokieran/photi.studio</a>.</p>
    </layout:section>
</template:default>
