.loader {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: '';
        height: 50px;
        width: 50px;
        border: 5px solid rgba(var(--theme-color), 0.1);;
        border-bottom-color: rgba(var(--theme-color), 0.85);
        border-radius: 50%;
        animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
        } 
}