.slideshow {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 10;
    background-color: rgba(51, 51, 51, 0.85);
    --theme-color: 185, 185, 185;

    &__button {
        width: 50px;
        height: 50px;
        position: fixed;
        cursor: pointer;
        border-radius: var(--rounded--extraLarge);
        box-shadow: var(--shadow--medium);
        opacity: 0.9;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

        &--next, &--previous {
            top: 50%;
            margin-top: -25px;
            background-size: var(--action-icon-size);
        }

        &--next {
            right: var(--slideshow-spacing);
        }

        &--previous {
            left: var(--slideshow-spacing);
        }

        &--close {
            top: var(--slideshow-spacing);
            right: var(--slideshow-spacing);
        }

        &--download {
            top: var(--slideshow-spacing);
            right: calc((var(--slideshow-spacing) * 4) + calc(var(--slideshow-spacing) - 4px));
        }

        &:hover {
            background-color: darken(#333, 10%);
        }
    }

    &__image, &__thumbnail {
        user-select: none;
    }

    &__image {
        height: calc(100% - 90px);
        display: flex;
        flex-direction: column;
        position: relative;

        &-holder {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
                --max-image-fill: 90%;
                
                width: auto;
                max-width: var(--max-image-fill);
                max-height: var(--max-image-fill);
            }
        }

        &--full {
            height: 100%;
        }
    }

    &__thumbnail {
        background: rgba(51, 51, 51, 0.75);

        & img {
            width: auto;
            height: 60px;
            cursor: pointer;
        }

        &s {
            display: flex;
            max-width: var(--max-width);
            overflow-x: auto;
            gap: 6px;

            &-holder {
                --spacing: 0px;

                @include mobileSize((
                    --spacing: var(--slideshow-spacing)
                ));

                width: calc(100% - calc(var(--spacing) * 2));
                bottom: 8px;
                position: fixed;
                display: flex;
                justify-content: center;
                margin: 0 var(--spacing);
            }
        }
    }

    &--shown {
        display: block;
    }
}